@import 'core.import'


.c-markdown
  h1
    font-size 36px
    line-height 40px
    font-weight bold
    margin-top 50px
    margin-bottom 20px

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child
    margin-top 0px

  p
    font-size 16px
    line-height 22px
    margin-bottom 20px

  code
    padding 2px 4px
    color $TH_CODE_COLOR
    white-space nowrap
    background-color #f7f7f9
    border 1px solid #e1e1e8
