@import 'core.import'


.markdown-body
  ul
    list-style-type disc


  pre
    border-radius 5px
    border solid 1px darken(white, 8%)
    margin-bottom 45px
    code
      color black


  hr
    MARGIN = 30px
    margin-top MARGIN
    margin-bottom MARGIN
